<ul class="news-feed">
  <li ng-repeat="story in storyList" class="media news-feed-block">
    <div class="media-left pull-left news-feed-img">
      <!-- FIXME: do something else if there is no thumbnail -->
      <img class="media-object img-circle img-responsive" ng-src="{{story.thumbnail.medium.$text}}"/>
    </div>
    <div class="media-body news-feed-content">
      <h4 class="media-heading">{{story.title.$text}}</h4>
      <blockquote>
        <p>{{story.teaser.$text}}</p>
        <!-- TODO: interpret as pure html-->
      </blockquote>
      <p class="news-feed-time">{{ makeDate(story.storyDate.$text) | date }}</p>
      <!--<br>-->
      <!--Published: {{story.pubDate.$text}}-->
      <!--<br>-->
      <!--Last Modified: {{story.lastModifiedDate.$text}}-->
      <!-- TODO: adda  button that shows the story-->
    </div>
  </li>
</ul>

